body{
   position: relative;
}
*{
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}
#Box{
    height: 300px;
    width: 300px;
    position: relative;
    border: 1px solid gray;
}
#bigBox{
    height: 300px;
    width: 300px;
    position: absolute;
    top: 0;
    left: 310px;
    overflow: hidden;
    display: none;
    border: 1px solid gray;
}
#Box img{
    height:300px;
    width:300px;
}
#lay{
    background: #000000;
    border: 1px solid gray;
    position: absolute;
    top:0;
    left: 0;
    opacity: 0.5;
    display: none;
    filter:alpha(opacity=50);
}